.sportsee-main {
    margin: 4em 0 0 12em;
}

.sportsee-title{
    font-weight: 500;
    font-size: 2.5em;
    color: #000000;
    margin: -0.5em 0 0.5em 0;
}

.sportsee-title-username{
    color: #FF0101;
}

.sportsee-stats-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.sportsee-graph-container{
    width: 70%;
}

.sportsee-stats-trio{
    display: flex;
}